.cartdetail_container {
  display: flex;
  flex-direction: column;
  padding: 24px 0px;
}
.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  padding-left: 100px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #1d1f22;
  margin-bottom: 55px;
}
.empty_cart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 100px;
  font-size: 30px;
}
.products_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 336px;
  margin: 0px 100px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.products_items {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 336px;
  justify-content: center;
  align-items: center;
  padding: 24px 0px;
}
.products_items_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.colone {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-grow: 1;
  height: 336px;
  padding: 24px 0px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.colone::-webkit-scrollbar {
  background-color: #ffffff;
}
.product_brand {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #1d1f22;
  margin-bottom: 16px;
}
.product_name {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #1d1f22;
  margin-bottom: 16px;
}
.item_price {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #1d1f22;
  margin-bottom: 16px;
}
.attribute_id {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1d1f22;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.attribute_typecolor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 63px;
  height: 45px;
  margin-bottom: 16px;
  border: 1px solid #1d1f22;
}
.attribute_typeValue {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 63px;
  height: 45px;
  border: 1px solid #1d1f22;
  background: #1d1f22;
  color: #ffffff;
  margin-bottom: 16px;
}
.coltwo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  height: 336px;
  padding: 24px 24px;
}
.add_button {
  width: 45px;
  height: 45px;
  border: 1px solid #1d1f22;
  background: #ffffff;
  align-self: flex-start;
}
.quantity {
  flex-grow: 1;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  color: #1d1f22;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subtract_button {
  width: 45px;
  height: 45px;
  border: 1px solid #1d1f22;
  background: #ffffff;
}
.colthird {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  height: 336px;
  position: relative;
}
.arrow_btn_container {
  position: absolute;
  bottom: 16px;
  right: 16px;
  display: flex;
  gap: 8px;
}
.arrow_btn {
  width: 24px;
  height: 24px;
  border: none;
}
.arrow {
  width: 24px;
  height: 24px;
}
.img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 288px;
  object-fit: contain;
}
.total_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 32px 100px;
}
.total_items {
  display: flex;
  padding-bottom: 8px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #1d1f22;
}
.amount_total {
  padding-left: 10px;
}
.btn_order {
  width: 279px;
  height: 43px;
  background: #5ece7b;
  color: #ffffff;
  border: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  margin-top: 8px;
}
